<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
		<setting label="32002" type="enum" id="type" lvalues="32003|32004|32005" default="0" />
			<setting label="32011" type="bool" id="camera1" default="false" subsetting="true" visible="eq(-1,0)" />
			<setting label="32012" type="bool" id="camera2" default="false" subsetting="true" visible="eq(-2,0)" />
			<setting label="32013" type="bool" id="camera3" default="false" subsetting="true" visible="eq(-3,0)" />
			<setting label="32014" type="bool" id="camera4" default="false" subsetting="true" visible="eq(-4,0)" />
			<setting label="32015" type="bool" id="camera5" default="false" subsetting="true" visible="eq(-5,0)" />
			<setting label="32016" type="bool" id="camera6" default="false" subsetting="true" visible="eq(-6,0)" />
			
			<setting label="32006" type="enum" id="camera" lvalues="32011|32012|32013|32014|32015|32016" default="0" subsetting="true" visible="eq(-7,1)" />
			<setting label="32007" type="bool" id="controls" default="true" subsetting="true" visible="eq(-8,1)" />
	
    </category>
</settings>
